MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=franchisedb
MYSQL_USER=adminAccenture
MYSQL_PASSWORD=supersecurepassword
SPRING_DATASOURCE_USERNAME=adminAccenture
SPRING_DATASOURCE_PASSWORD=supersecurepassword
